*{
display: block;
background: #fdf7ee;
}
button {
    display: block;
    border: 102px solid gray;
}

.textcols {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;

}
.textcols-item {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	height: 30%;
	background: #fff2e1;
}
.textcols-item {
	margin-left: 5%;
}

.item__theme-day {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	height: 30%;
	background: #FAEBD7;
}
